<h1>Products</h1>
<div class="card">
    <div class="card-head"> Product 1</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita impedit fugiat, laboriosam nisi vel corporis consequuntur. Obcaecati minus minima nostrum magni consectetur. Accusantium quod nemo quae quasi, error placeat corporis.
    </div>
</div>
<div class="card">
    <div class="card-head">Product 2</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita impedit fugiat, laboriosam nisi vel corporis consequuntur. Obcaecati minus minima nostrum magni consectetur. Accusantium quod nemo quae quasi, error placeat corporis.
    </div>
</div>